body{
    font-family:Arial;
    text-align:center;
}

.card{
    width:500px;
    height:250px;
    margin:30px auto;
    border:2px solid #333;
    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:40px;
    cursor:pointer;
}

button{
    padding:10px 20px;
    margin:5px;
}